@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 1.2rem;
  font-family: "Gentium Book Plus", serif;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 60px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #523a28;
  text-shadow: 1px 1px 2px rgba(39, 48, 9, 0.5);
}
h2 {
  color: #523a28;
}

div.stats {
  background-color: #dfc3af;
  width: 250px;
  padding: 8px;
  border: 2px solid #523a28;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 15px;
  grid-template-rows: fr fr fr;
}
.stats p {
  margin: 4px;
}

table {
  background-color: #dfc3af;
  border: 2px solid #523a28;
  border-collapse: collapse;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}
table th {
  font-weight: bold;
  background-color: #738b19;
  width: 200px;
  text-align: left;
  border: 1px solid #523a28;
  font-size: 1.2rem;
  padding: 3px;
}
table tr:nth-child(odd) {
  background-color: #c0a592;
}
table th:nth-child(3),
table th:nth-child(4) {
  width: 150px;
}

table th:nth-child(5) {
  width: 80px;
}

table td {
  border: 1px solid #523a28;
  padding: 3px;
}

.form {
  background-color: #dfc3af;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 16px 8px;
  border: 2px solid #523a28;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
input {
  margin: 5px 0px;
}
label {
  font-weight: bold;
}

.read-label {
  font-weight: bold;
}

#submit {
  width: 120px;
  background-color: #738b19;
  border: 1px solid #523a28;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px #523a28;
  color: #fff;
  font-weight: bold;
  padding: 4px;
  margin: 10px 0px;
}
#delete-button {
  color: #fff;
  border: 1px solid #523a28;
  padding: 3px;
  background-color: #523a28;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 2px;
  vertical-align: middle;
}
#remove-button:hover {
  background-color: #723405;
}
.label-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.label-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.span-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #523a28;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}
.span-toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .span-toggle {
  background-color: #738b19;
}

input:focus + .span-toggle {
  box-shadow: 0 0 1px #070402;
}

input:checked + .span-toggle:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}
