@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

:root,
:root.light {
  --primary-color: #dfc3af;
  --secondary-color: #738b19;
  --accent-color: #523a28;
  --bg-secondary: hsl(120deg 7% 10%);
  --bg-color: white;
  --font-color: black;
}

:root.dark {
  --primary-color: rgb(32 38 32);
  --secondary-color: rgb(32 38 32);
  --accent-color: #dfc3af;
  --bg-color: hsl(120deg 7% 10%);
  --bg-secondary: rgb(32 38 32);
  --font-color: white;
}

body {
  background-color: var(--bg-color);
  font-size: 1.2rem;
  font-family: "Gentium Book Plus", serif;
  margin: 10px;
  color: var(--font-color);
}

.header {
  display: grid;
  grid-template-columns: 60px 200px 1fr 30px;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 60px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent-color);
  text-shadow: 1px 1px 2px rgba(39, 48, 9, 0.5);
}

.settings {
  grid-column: 4 / 5;
}

.theme {
  height: 30px;
}

h2 {
  color: var(--accent-color);
}

div.stats {
  background-color: var(--primary-color);
  width: 250px;
  padding: 8px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 15px;
  grid-template-rows: fr fr fr;
}

.stats p {
  margin: 4px;
}

table {
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  border-collapse: collapse;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

table th {
  font-weight: bold;
  background-color: var(--secondary-color);
  width: 200px;
  text-align: left;
  border: 1px solid var(--accent-color);
  font-size: 1.2rem;
  padding: 3px;
}
table tr:nth-child(odd) {
  background-color: #c0a592;
}
table th:nth-child(3),
table th:nth-child(4) {
  width: 150px;
}

table th:nth-child(5) {
  width: 80px;
}

table td {
  border: 1px solid var(--accent-color);
  padding: 3px;
  width: 150px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 16px 8px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
input {
  margin: 5px 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1.2rem;
}

input:invalid {
  border: 1px solid red;
}
label {
  font-weight: bold;
}
.required-input {
  font-weight: 400;
  font-size: 0.8rem;
}

.read-label {
  font-weight: bold;
}

#submit {
  width: 120px;
  background-color: var(--secondary-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px var(--accent-color);
  color: #fff;
  font-weight: bold;
  padding: 4px;
  margin: 10px 0px;
}

#delete-button {
  color: #fff;
  border: 1px solid var(--accent-color);
  padding: 3px;
  background-color: var(--accent-color);
  border-radius: 6px;
  cursor: pointer;
  margin-left: 2px;
  vertical-align: middle;
}

#remove-button:hover {
  background-color: #723405;
}

.label-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.label-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.span-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}
.span-toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .span-toggle {
  background-color: var(--secondary-color);
}

input:focus + .span-toggle {
  box-shadow: 0 0 1px #070402;
}

input:checked + .span-toggle:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}
